@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  @apply mt-1 block w-full px-3 py-2 bg-gray-800/20 backdrop-blur-xl border border-gray-700 rounded-sm text-white focus:outline-none focus:ring-2 focus:ring-red-500;
}

.btn_red {
  @apply bg-red-600 text-center hover:bg-red-700 text-white py-2 px-4 rounded-sm transition-all;
}

.btn_black {
  @apply bg-gray-800 text-center hover:bg-gray-700 text-white py-2 px-4 rounded-sm transition-colors;
}

.sub_btn {
  @apply w-full bg-red-600 text-white py-2 px-4 rounded-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-900;
}

.dashSide {
  @apply block py-2 px-4 text-gray-400 hover:bg-gray-700/60 backdrop-blur-lg hover:text-white;
}

.popUp {
  @apply h-full fixed z-40 w-full left-0 top-0 flex justify-center items-center bg-black/10 backdrop-blur-sm;
}

body {
  background-image: url('./../assets/bg.webp');
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;

}


.ic--baseline-list-alt {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 5v14H5V5zm1.1-2H3.9c-.5 0-.9.4-.9.9v16.2c0 .4.4.9.9.9h16.2c.4 0 .9-.5.9-.9V3.9c0-.5-.5-.9-.9-.9M11 7h6v2h-6zm0 4h6v2h-6zm0 4h6v2h-6zM7 7h2v2H7zm0 4h2v2H7zm0 4h2v2H7z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}